*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'oswald';
}
a, a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
table{
    height: 200px;
    overflow-y: scroll;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}
select{
    height: 40px !important;
}
textarea{
    min-height: 50px !important;
    max-height: 150px;
}
nav{
    height: 60px;
}
form{
    margin-top: -4em;
}
.container-input {
    height: 45px;
    text-align: center;
    border-radius: 6px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25em;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    padding: 0.625rem 1.25rem;
}

.inputfile + label i {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    font-size: 1.6em;
}

.iborrainputfile {
	font-size: 2.2em; 
	font-weight:normal;
	font-family: 'Lato';
}
.inputfile-1 + label {
    padding: 5px 0;
    width: 100%;
    color: #fff;
}
#listaProductos table{
    min-height: 30px;
    max-height: 50px;
    overflow-y: scroll;
}